<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Food_Planer"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".weekmeals.view.WeekMealItem"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mealpage.view.IngredientItem"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".search.view.itemMealSearch"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".search.view.ItemSearch"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.view.item"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NavigationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".register.view.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login.view.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>